h1{
    color: white;
    font-size: 60px;
    margin-top: 0;
    font-family: "amandine", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2{
    color: white;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: lighter;
}

p{
    color: white;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    font-size: 1.5vw;
}

.title_about_me{
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "amandine", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 5vw;
}

.title_about_me span:after{
  content: ':)'
}
.title_about_me:hover span:after {
  content: ';)';
}

.bold{
    font-weight: bold;
}

#hello{
    color: white;
    font-family: "amandine", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 11vw;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 10px;
    margin-block-start: 150px;  
    line-height: 0.7;  
    margin-top: 200px;
}

#hello span {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: bottom; /* Keeps the bottom of the letter in place */
  position: relative;
}
#hello span:hover {
  transform: scaleY(0.2); /* Shrinks the letter vertically */
}

.align_center{
    text-align: center;
}

.text_decoration_none{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.navbar_links{
    backdrop-filter: blur(10px);
    color: white;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    text-align: center;
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0%;
}

.navbar_links a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.navbar_links a:hover{
    font-weight: bold;
}

.projectcard_title{
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.scroll{
    scroll-behavior: smooth;
}

#background{
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    background-position: center;
    margin: 0px;
    background-attachment: fixed;
    margin-bottom: 200px;
}

.social_media{
    position: fixed;
    bottom: 5%;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.social_media svg{
    color: white;
    height: 30px;
}

.social_media svg:hover{
    color: #65595a;
}

.inline{
    display: flex;
    justify-content:space-around;
}

#about_me{
    margin-top: 100px;
    height: 60px;
    width: 100vw;
}

#contacts{
    background-color: #65595a;
    padding: 20px;
    font-size: 12px;
    bottom: 0;
    font-family: "amandine", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 275px;
}

#contacts a{
    color: white;

}

#email_phone{
    text-decoration: none;
    font-size: 15px;
}

html, body{
    scroll-behavior: smooth;
    cursor: none;
}

.cursor {
    position: absolute;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    border-radius: 50%; /* Circle shape */
    pointer-events: none; /* Allow clicks to go through */
    transition: transform 0.1s ease;
    z-index: 1000;
}

.text {
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    pointer-events: none; /* Allow clicks to go through */
    white-space: nowrap; /* Prevent text wrapping */
    transform: translate(-50%, -50%); /* Center text */
    z-index: 1000;
}

#logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

#logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

}